<div class="${theme}" role="presentation">
    <div class="${_css.container}"data-dojo-attach-point="_containerNode">
        <div class="${_css.otherButtons}">
            <div data-dojo-attach-point="_searchNode" title="${_i18n.widgets.geocoderButton.search.title}" role="button" class="${_css.item} ${_css.search}"><span>${_i18n.widgets.geocoderButton.search.button}</span>
            </div>
            <div class="${_css.searchContainer}" data-dojo-attach-point="_searchContainerNode">
                <div data-dojo-attach-point="_geocoderNode"></div>
            </div>
        </div>
    </div>
</div>